*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, blockquote, th, td {
    margin: 0;
    padding: 0;
    direction: ltr;
}

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

p {
    line-height: 25px;
}

.row img {
    height: auto;
    max-width: 100%;
}

a {
    text-decoration: none;
    line-height: inherit;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}

iframe {
    border: 0 !important;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}

figure {
    margin: 0;
}

#wrapper {
    margin:0 15px;
    padding: 15px 0;
    position: relative;
}


*:focus {
    outline: none;
}

section {
    clear: both;
    overflow: hidden;
}

[class*='col-'] {
    float: left;
    padding: 20px;
}

/* Clearfix */

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* Main Widths */

.col-1 {
    width: 100%;
}

.col-38 {
    width: 38.2%;
}

/* --------- 2.1 Header --------- */

#header {
    height: 71px !important;
    overflow: visible;
    z-index: 9999;
    width: 100%;
    position: absolute !important;
}

#header .row {
    padding: 0;
}

#header aside {
    text-align: right;
}

#header ul {
    text-align: center;
}

#header li {
    display: inline-block;
    list-style: none;
    margin: 0;
}

/* --------- 2.2 Logo ---------- */

#logo {
    float: left;
    height: 71px;
    line-height: 66px;
    margin-right: 15px;
}

#logo h1, #logo h2 {
    display: inline-block;
}

#banner #logo h1 {
    font-size: 28px;
    margin-right: 10px;
    font-weight: 900;
    padding: 0;
}

#logo h2 {
    font-size: 18px;
    padding: 0;
}

#logo img {
    max-height: 22px;
    vertical-align: middle;
    margin-right: 15px;
}

#navigation-logo {
    display: none;
}

.nav-solid #logo #banner-logo {
    display: none;
}

.nav-solid #logo #navigation-logo {
    display: inline-block;
}

/* --------- 2.3 Buttons ---------- */

.call-to-action {
    padding: 35px 0 35px 0;
}

/*Style*/

.button {
    font-size: 16px;
    margin: 35px 0;
    padding: 11px 16px;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
    display: inline-block;
    border-width: 3px;
    border-style: solid;
}



/* --------- 2.4 Navigation ---------- */

#header {
    font-size: 13px;
}

#header aside {
    float: right;
}

#header nav ul {
    text-transform: uppercase;

}

#header nav a {
    height: 71px;
    line-height: 71px;
    display: block;
    padding: 0 10px;
}

#header nav a:hover {
    opacity: 0.6;
}

/*Navigation Solid*/

#header.nav-solid [class*='col-'] {
    padding: 0 20px;
}

#header.nav-solid {
    background: #fff;
    box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.2);
    position: fixed !important;
    left:0;
}

#header.nav-solid nav a {
    border-bottom: 3px solid;
    border-color: #fff;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#header.nav-solid nav a:hover {
    opacity: 1;
}

/* Responsive Nav Styling */

#nav-trigger {
    display: none;
    text-align: right;
}

#nav-trigger span {
    display: inline-block;
    width: 38px;
    height: 71px;
    color: #111;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 22px;
    text-align: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#nav-trigger span:after {
    font-family: "fontAwesome";
    display: inline-block;
    width: 38px;
    height: 71px;
    line-height: 75px;
    text-align: center;
    content: "\f0c9";
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#nav-trigger span.open:after {
    content: "\f00d";
}

#nav-trigger span:hover, .nav-solid #nav-trigger span.open:hover, .nav-solid #nav-trigger span:hover {
    opacity: 0.6;
}

#nav-trigger span.open, #nav-trigger span.open:hover {
    color: #111;
}

.nav-solid #nav-trigger span.open:hover {
    color: #999;
}

.nav-solid #nav-trigger span {
    color: #999;
    opacity: 1;
}

nav#nav-mobile {
    position: relative;
    display: none;
}

nav#nav-mobile ul {
    display: none;
    list-style-type: none;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: -20px;
    margin-right: -20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.2);
}

nav#nav-mobile ul:after {
    display: none;
}

nav#nav-mobile li {
    margin: 0 20px;
    float: none;
    text-align: left;
    border-bottom: 1px solid #e1e1e1;
}

nav#nav-mobile li:last-child {
    border-bottom: none;
}

.nav-solid nav#nav-mobile li {
    border-top: 1px solid #e1e1e1;
    border-bottom: none;
}

nav#nav-mobile a {
    display: block;
    padding: 12px 0;
    color: #333;
    width: 100%;
    height: auto;
    line-height: normal;
    display: block;
    border-bottom: none !important;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

nav#nav-mobile a:hover {
    background: #fafafa;
    opacity: 1;
}

h1 {
    padding: 20px 0;
}

h2 {
    padding: 14px 0;
}

h3 {
    padding: 10px 0;
}

h4 {
    padding: 7px 0;
}

h5 {
    padding: 7px 0;
}

h6 {
    padding: 7px 0;
}

/* Text Alignment */

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* Section Headings */

.section-heading {
    padding: 0 0 15px 0;
}

.section-subtitle {
    font-size: 18px;
    padding-top: 0;
}

.section-heading h3 {
    font-size: 14px;
    font-weight: bold;
    color: #ccc;
    letter-spacing: 2px;
    padding-bottom: 0;
}

/*------------------------------------------------------------------------------------------*/
/* 4. Banner */
/*------------------------------------------------------------------------------------------*/

#banner {
    background-size: cover;
}

#banner-content.row {
    padding-top: 170px;
    padding-bottom: 100px;
}

#banner h1 {
    padding-top: 5%;
}

#banner .section-heading:before {
    content: "";
    display: block;
    width: 30px;
    height: 5px;
    margin-top: 30px;
}

/* handling phones and small screens */
@media only screen and (max-width: 1024px) {
    .featherlight .featherlight-content {
        /* dimensions: maximize lightbox with for small screens */
        margin-left: 10px;
        margin-right: 10px;
        max-height: 98%;

        padding: 10px 10px 0;
        border-bottom: 10px solid transparent;
    }

}


/* handling phones and small screens */
@media only screen and (max-width: 1024px) {
    .featherlight-next,
    .featherlight-previous {
        top: 10px;
        right: 10px;
        left: 85%;
    }

    .featherlight-previous {
        left: 10px;
        right: 85%;
    }

    .featherlight-next span,
    .featherlight-previous span {
        margin-top: -30px;
        font-size: 40px;
    }
}


/*------------------------------------------------------------------------------------------*/
/* 7. Footer */
/*------------------------------------------------------------------------------------------*/

#landing-footer {
    clear: both;
}

#landing-footer .row {
    padding: 0;
}

#landing-footer p {
    margin: 0;
}

#landing-footer ul {
    list-style: none;
    text-align: right;
}

#landing-footer li {
    display: inline-block;
}

/* Scroll Up */

#scrollUp {
    bottom: 15px;
    right: 30px;
    width: 70px;
    height: 80px;
    margin-bottom: -10px;
    padding: 0 5px 20px 5px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    -webkit-transition: margin-bottom 150ms linear;
    -moz-transition: margin-bottom 150ms linear;
    -o-transition: margin-bottom 150ms linear;
    transition: margin-bottom 150ms linear;
}

#scrollUp:hover {
    margin-bottom: 0;
}

#scrollUp:before {
    background: #ccc;
    font-family: "fontawesome";
    font-size: 2.4em;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    color: #fff;
    width: 45px;
    height: 45px;
    display: inline-block;
    line-height: 45px;
    content: "\f106";
    opacity: 1;
}




/* =Media Queries for Nav
===============================*/
@media all and (max-width: 1024px) {
    #nav-trigger {
        display: block;
    }

    nav#nav-main {
        display: none;
    }

    nav#nav-mobile {
        display: block;
    }

    nav#nav-mobile li {
        display: block;
    }

    #header aside {
        display: none;
    }
}

/* Landscape mobile & down
===============================*/
@media (max-width: 480px) {

    #wrapper {
        margin:0;
        padding:0;
    }

    .page-border, #scrollUp, #scrollUp:before {
        display:none;
    }

    .row {
        padding: 15px !important;
    }

    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-2-3, .col-3-4, .col-9-10, .col-61, .col-38, .row {
        width: 100%;
    }

    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-2-3, .col-3-4, .col-9-10, .col-61, .col-38 {
        padding-right: 0;
        padding-left: 0;
    }

    /*-----------------Header Elements-----------------*/
    #header .row {
        padding: 0 15px !important;
    }

    #header.nav-solid [class*="col-"] {
        padding: 0;
    }

    /*Logo*/
    #logo h2 {
        padding: 0;
    }

    #header ul.social-icons {
        margin-top: 0;
    }

    #banner-content.row {
        padding-top: 85px !important;
    }

    /*-----------------Sections-----------------*/

    /* Call to Action*/
    .call-to-action {
        padding-bottom: 25px;
    }

    /* Footer */
    #landing-footer #copyright {
        float: left;
        width: 50%;
    }

    /*-----------------Typography-----------------*/
    h1 {
        font-size: 38px;
    }

    #banner h1 {
        font-size: 48px;
    }

    /* Hide Elements */
    a#scrollUp {
        display: none !important;
    }

}

/* Mobile to Tablet Portrait
===============================*/
@media (min-width: 480px) and (max-width: 767px) {

    #wrapper {
        margin:0;
        padding:0;
    }

    .page-border, #scrollUp, #scrollUp:before {
        display:none;
    }


    .row {
        padding: 15px 0 !important;
    }

    .col-1, .col-2, .col-5, .col-7, .col-9, .col-11, .col-2-3, .col-3-4, .col-61, .col-38, .row {
        width: 100%;
    }

    .col-3, .col-4, .col-6, .col-8, .col-10, .col-12 {
        width: 50%;
    }

    /*-----------------Header Elements-----------------*/
    #header .row {
        padding: 0 !important;
    }

    #header aside {
        display: inline-block;
        position: absolute;
        top: 40px;
        right: 60px;
        padding-top:3px;
        padding-right: 5px;
    }

    #header.nav-solid aside {
        top: 20px;
    }

    #header aside ul {
        margin-top: 0 !important;
        padding-top: 6px;
    }

    #banner-content.row {
        padding-top: 85px !important;
    }

    /*Navigation*/
    nav#nav-mobile ul {
        margin-left: -40px;
        margin-right: -40px;
        padding-left: 20px;
        padding-right: 20px;
    }

    /*-----------------Sections-----------------*/

    /* Video */
    .slvj-lightbox iframe, .slvj-lightbox object, .slvj-lightbox embed {
        height: 370px !important;
    }

    /* Footer */
    #landing-footer #copyright {
        float: left;
        width: 50%;
    }

    #landing-footer .social-icons {
        float: right;
        width: 50%;
    }

}

/* Landscape Tablet to Desktop
===============================*/
@media (min-width: 768px) and (max-width: 1024px) {

    #wrapper {
        margin:0;
        padding:0;
    }

    .page-border {
        display:none;
    }

    .big-padding-top {
        padding-top: 45px !important;
    }

    /*-----------------Header Elements-----------------*/
    #header aside {
        display: inline-block;
        position: absolute;
        top: 40px;
        right: 60px;
        padding-top:3px;
        padding-right: 5px;
    }

    #header.nav-solid aside {
        top: 20px;
    }

    #header aside ul {
        margin-top: 0 !important;
        padding-top: 6px;
    }

    /*Navigation*/
    nav#nav-mobile ul {
        margin-left: -40px;
        margin-right: -40px;
        padding-left: 20px;
        padding-right: 20px;
    }

    /*-----------------Sections-----------------*/

    /* Video */
    .slvj-lightbox iframe, .slvj-lightbox object, .slvj-lightbox embed {
        height: 432px !important;
    }

}
.center {
    text-align: center;
}
.divider-h { 
    
    margin-left: 100px;
    margin-right: 100px;
    border-bottom: 1px solid red;
    background: #DDC580;
   
}
.header-text{
    border-bottom: 4px solid #DDC580;
    font-size:xx-large;
    width: 50vw;
    text-align: center;
    margin: auto;
    font-weight: bold;
}
.section-1{
    border-bottom: 1.5px solid #DDC580;
    font-size:x-large;
    width: 35vw;
    margin-top: 80px;
    text-align: center;
     margin: auto;
     padding: 5px;
     font-weight: bold;
     
}

   div.margin{
       margin-top: 80px;
   }
    
    
.section-1-body{
    font-size:x-large;
    width: 60vw;
    text-align: center;
     margin: auto;
     color: #A29A9A;
     font-size: 15px;
}    
div.body{
    margin-top: 5px;
}
